:root{
  --bg-color: rgb(228, 34, 34);
  
}

*{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: var(--bg-color);
}

footer{
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: blue; 
  bottom: 0px;
}

footer p{
  text-align: center;
}

